body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f4f6f9;
  /* overflow: hidden; */
}

/* WRAPPER */
.app-wrapper {
  position: relative;   /* important */
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* WATERMARK */
.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.003);  /* very light */
  pointer-events: none;       /* clicks pass through */
  user-select: none;
  white-space: nowrap;
  z-index: 0;
}
.global-nav,
.content-wrapper,
.footer {
  position: relative;
  z-index: 1;
}


/* GLOBAL NAV */
.global-nav {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
 
  padding: 0 15px;
  border-bottom: 1px solid #eee;
}
/* LEFT */
.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* CENTER */
.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* RIGHT */
.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.nav-center input {
  width: 350px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.avatar {
  width: 35px;
  height: 35px;
  background: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BODY */
.content-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: white;
  padding: 25px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  color: #555;
}

.sidebar-menu li.active {
  background: #e8f1ff;
  color: #1677ff;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  background: #ff4d4f;
  border: none;
  border-radius: 8px;
  color: white;
}

/* MAIN */
.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.page-title {
  margin-bottom: 20px;
}

/* SELECTOR */
.selector-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.selector-card select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.last-access {
  margin-left: auto;
  color: #888;
}

/* OVERVIEW */
.overview-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.overview-stats {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 6px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
}

.progress-bar div {
  height: 100%;
  background: #00b96b;
}

.progress-text {
  text-align: right;
  margin-top: 5px;
  color: #00b96b;
}

/* TABS */
.tabs {
  margin-bottom: 20px;
}

.tab {
  padding: 8px 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.tab.active {
  border-bottom: 3px solid #1677ff;
  font-weight: 600;
}

/* CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: white;
   padding: 15px; 
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/* .card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
  height: 250px;
} */

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.card-buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.start-btn {
  background: #1677ff;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}

.light-btn {
  background: #e6f4ff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}

.purple-btn {
  background: #f3e8ff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  height: 35px;              /* smaller height */
  min-height: 35px;
  padding: 0;                /* remove extra padding */
  background: white;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #777;
}

.nav-logo {
  height: 32px;
  object-fit: contain;
}











/* OVERLAY */
.search-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* MODAL */
.search-modal {
  width: 750px;
  max-height: 80vh;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.search-header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
 
}

.search-header input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-header span {
  cursor: pointer;
  font-size: 18px;
}

/* RESULTS */
.search-results {
  overflow-y: auto;
  padding: 20px;
}

/* RESULT ITEM */
.search-item {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #f9f9f9;
}

.search-item img {
  width: 140px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.search-info h3 {
  margin: 0 0 8px;
}

.search-tags span {
  font-size: 12px;
  background: #eee;
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 6px;
}

.search-buttons button {
  margin-right: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* No Results */
.no-results {
  text-align: center;
  padding: 40px;
  color: #999;
}



/* .nav-search{
  padding: 8px 16px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  width:350px;
  text-align: center;
} */

.nav-search {
  width: 100%;
  max-width: 420px;
  padding: 8px 14px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  text-align: center;
}





.overview-stats {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}


.tabs {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.tabs::-webkit-scrollbar {
  display: none;
}






.btn-model {
  background: #dbeafe;
  color: #1e40af;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
}

.btn-glance {
  background: #dcfce7;
  color: #166534;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
}

.btn-brain {
  background: #ede9fe;
  color: #5b21b6;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
}




.card-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-buttons button {
  flex: 1;
  min-width: 120px;
}




.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}










/* Profile Modal */

.profile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.profile-modal {
  width: 350px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  animation: fadeIn 0.2s ease-in-out;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-header span {
  cursor: pointer;
  font-size: 20px;
}

.profile-content {
  text-align: center;
}

.profile-avatar {
  font-size: 50px;
  margin-bottom: 10px;
}

.profile-content h3 {
  margin: 5px 0;
}

.profile-content p {
  color: gray;
  margin-bottom: 20px;
}

/* smooth animation */
@keyframes fadeIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}











.nav-logo {
  height: 30px;
}





/* COURSES */
/* .courses-wrapper {
  padding: 30px;
} */

.courses-title {
  text-align: center;
  margin-bottom: 30px;
  color: #666;
}

.courses-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-3px);
}

.course-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.course-icon {
  font-size: 24px;
}

.course-arrow {
  font-size: 22px;
  color: #2d6cdf;
}

/* ================= APP PAGE ================= */

.apps-container {
  padding: 40px 60px;
}

.apps-heading {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #6b7280;
  margin-bottom: 40px;
}

.apps-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* CARD BASE */
.app-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 35px;
  min-height: 190px;
  display: flex;
  gap: 20px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: 0.3s ease;
  cursor: pointer;
}

/* HOVER EFFECT */
.active-card:hover {
  border: 2px solid #2f80ed;
  transform: translateY(-2px);
}

/* DISABLED */
.disabled-card {
  opacity: 0.6;
  cursor: not-allowed;
}

.badge {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #d1d5db;
  color: #4b5563;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
}

/* ICON */
.app-icon-box {
  width: 60px;
  height: 60px;
  background: #e8f1fd;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #2f80ed;
}

/* CONTENT */
.app-content h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.app-content p {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
  max-width: 420px;
}


.app-icon {
  color: #3b82f6;   /* same blue */
}

.app-icon-box {
  width: 70px;
  height: 70px;
  background: #f1f5f9;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}











.course-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.course-icon {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #1e88e5, #26c6da);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-icon img {
  width: 38px;
  height: 38px;
  object-fit: contain;
}



.sidebar-menu li {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.sidebar-menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
   transform: scale(2.8);
}


.sidebar-menu li span {
  font-size: 15px;
  font-weight: 500;
}

.sidebar-menu li.active {
  background: #28C76F;
  color: #ffffff;
}

.sidebar-menu li:hover {
  background: #85daab;
}









/*                   responsive                  */



.sidebar-toggle {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}


.sidebar {
  transition: transform 0.3s ease;
}

/* MOBILE */
@media (max-width: 768px) {

  .sidebar-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 2000;
    transform: translateX(-100%);
    box-shadow: 5px 0 20px rgba(0,0,0,0.15);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .content-wrapper {
    flex-direction: column;
  }
}


.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1500;
}


@media (max-width: 768px) {

  .global-nav {
    padding: 0 15px;
  }

  .nav-search {
    width: 160px;
    font-size: 13px;
  }

}



@media (max-width: 1024px) {

  .main-content {
    padding: 20px;
  }

  .selector-card {
    flex-wrap: wrap;
    gap: 10px;
  }

  .last-access {
    margin-left: 0;
    width: 100%;
  }
}


@media (max-width: 900px) {

  .apps-grid {
    grid-template-columns: 1fr;
  }

  .apps-container {
    padding: 20px;
  }
}




@media (max-width: 768px) {

  .courses-wrapper {
    padding: 15px;
  }

  .course-card {
     
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 250px;
  }
}




@media (max-width: 768px) {

  .search-modal {
    width: 95%;
    height: 85vh;
  }

  .search-item {
    flex-direction: column;
  }

  .search-item img {
    width: 100%;
    height: 160px;
  }
}




.card:hover,
.course-card:hover,
.app-card:hover {
  transform: translateY(-3px);
  transition: 0.25s;
}




@media (max-width: 600px) {
  .overview-stats {
    justify-content: space-between;
    gap: 15px;
    font-size: 14px;
  }
}



@media (max-width: 768px) {

  .selector-card {
    flex-direction: column;
    align-items: stretch;
  }

  .selector-card select {
    width: 100%;
  }
}



@media (max-width: 600px) {
  .main-content {
    padding: 15px;
  }

  .page-title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {

  .nav-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .sidebar-toggle {
    display: block;
    font-size: 22px;
    margin-left: 4px;
  }

}



@media (max-width: 768px) {

  .nav-search {
    max-width: 140px;
    font-size: 12px;
    padding: 6px 10px;
  }

  .avatar {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }

}