.navbar {
  width: 100%;
  background: #f5f6f8;
  padding: 18px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  font-size: 22px;
  color: #2f6fed;
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
  color: #2f6fed;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #28C76F;
}

.login-btn {
  background: linear-gradient(90deg, #2f6fed, #3b82f6);
  color: white;
  padding: 10px 35px;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.login-btn:hover {
  opacity: 0.9;
}













/* nav flex */
.nav-flex {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========================
   TOGGLE BUTTON
========================= */

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background: #333;
  transition: 0.3s;
  border-radius: 3px;
}

/* animation */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translateY(9px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px);
}

/* =========================
   MOBILE + TABLET
========================= */

@media (max-width: 992px) {

  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #f5f6f8;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0;

    transform: translateY(-120%);
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  }

  .nav-links.show {
    transform: translateY(0);
  }

  .login-btn {
    padding: 10px 30px;
  }
}